.about-teaser {
  @include container-medium;
  @include module-space;

  position: relative;

  &--large-space {
    @include module-space-large;
  }

  .section-heading {
    @include mq(xsmall, min) {
      font-size: calc(21vw - 25px);
    }
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    @include mq(small) {
      display: block;
    }
  }

  &__image {
    width: 56%;

    @include mq(small) {
      width: 100%;
    }

    img {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
      width: 100%;
    }
  }

  &__context {
    width: 44%;
    padding-top: 250px;
    padding-right: 55px;

    @include mq(xlarge) {
      padding-top: 60px;
    }

    @include mq(small) {
      width: 100%;
      padding-top: 50px;
      padding-right: 0;
    }
  }

  &__title {
    @include h4;

    position: relative;
    padding-left: 50px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 35px;
      height: 3px;
      background-color: $c-white;
      transform: translateY(-50%);
    }
  }

  &__text {
    margin-top: 40px;
    font-weight: $f-weight-light;
    font-size: 20px;
    line-height: 34px;
  }

  .button {
    margin-top: 30px;
  }
}
