.image-slider {
  @include container-large;
  @include module-space;

  &__title {
    @include h4;
    @include container-text;

    margin-bottom: 30px;
  }

  &__flickity {
    margin-right: -40px;
    margin-left: -40px;

    @include mq(large) {
      margin-right: -30px;
      margin-left: -30px;
    }

    @include mq(small) {
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  &__image {
    width: 20%;
    max-width: 400px;
    margin-right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $c-white;

    @include mq(xsmall) {
      width: 33%;
      margin-right: 15px;
    }
  }

  .flickity-button {
    background: none !important;
    padding: 0;

    @include mq(large, min) {
      width: 80px;
      height: 80px;
    }

    &:hover,
    &.focus-visible {
      &:before {
        color: $c-red;
      }

      .flickity-button-icon {
        fill: $c-red;
      }
    }

    &:before {
      @include icon;

      color: $c-white;
      font-size: 60px;

      @include mq(large) {
        font-size: 30px;
      }
    }
  }

  .flickity-prev-next-button.next {
    right: 0;

    &:before {
      content: map-get($icons, 'arrow-right');
    }
  }

  .flickity-prev-next-button.previous {
    left: 0;

    &:before {
      content: map-get($icons, 'arrow-left');
    }
  }

  .flickity-prev-next-button .flickity-button-icon {
    display: none;
  }
}
