.image-gallery {
  @include module-space;
  @include container-large;

  margin-left: -20px;

  @include mq(small) {
    margin-left: -15px;
  }

  @include mq(xsmall) {
    margin-left: 0;
  }

  #masonry-layout {
    position: relative;
    width: 100% !important;
  }

  &__item {
    padding-bottom: 40px;
    width: 25%;
    padding-left: 40px;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

    @include mq(large) {
      width: 33.33%;
    }

    @include mq(small) {
      width: 50%;
      padding-left: 30px;
      padding-bottom: 30px;
    }

    @include mq(xsmall) {
      width: 100%;
      padding-left: 0;
      padding-bottom: 25px;
    }

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    @include h4;

    margin-bottom: 30px;
    padding-left: 40px;

    @include mq(small) {
      padding-left: 30px;
    }

    @include mq(xsmall) {
      padding-left: 0;
    }
  }

  &__text {
    @include h3;

    text-align: center;
    margin-top: 80px;
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;

    @include mq(small) {
      padding-bottom: 70px;
    }

    @include mq(xsmall) {
      padding-bottom: 65px;
    }
  }
}

.textmedia + .image-gallery {
  @include module-space-small;
}

.pswp {
  .pswp__caption__center {
    font-size: 16px;
    font-weight: $f-weight-bold;
    max-width: inherit;
  }

  .pswp__ui--fit .pswp__top-bar,
  .pswp__ui--fit .pswp__caption {
    background-color: rgba(34, 34, 34, 0.8);
  }
}
