.video-player {
  @include container-large;
  @include module-space;

  &__inner {
    @include fixed-ratio;

    background-color: $c-black;
  }

  &__title {
    @include h4;
    @include container-text;

    margin-bottom: 40px;
    max-width: initial;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

.jumbotron + .video-player {
  margin-top: 40px;

  @include mq(large) {
    margin-top: 30px;
  }

  @include mq(small) {
    margin-top: 20px;
  }
}
