.video-player {
  @include container-large;
  @include module-space;

  &__inner {
    @include fixed-ratio;

    background-color: $c-black;
  }

  &__title {
    @include h4;

    margin-bottom: 40px;
  }
}

.jumbotron + .video-player {
  margin-top: 40px;

  @include mq(large) {
    margin-top: 30px;
  }

  @include mq(small) {
    margin-top: 20px;
  }
}
