.video-player {
  @include container-large;
  @include module-space;

  &__inner {
    @include fixed-ratio;

    background-color: $c-black;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: $f-weight-bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 7px;
  }
}

.jumbotron + .video-player {
  margin-top: 40px;

  @include mq(large) {
    margin-top: 30px;
  }

  @include mq(small) {
    margin-top: 20px;
  }
}
