.worklist {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    padding-top: 175px;

    @include mq(xlarge) {
      padding-top: 142px;
    }

    @include mq(small) {
      padding-top: 115px;
    }
  }

  &__inner {
    position: relative;
    overflow: auto;
    height: calc(100vh - 175px);
    z-index: 1;
    text-align: center;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    /* As firefox dropped the support for hidden scrollbars without functionality,
    * we´re using a little workaround by setting the scrollbar-width to none
    */
    scrollbar-width: none;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(xlarge) {
      height: calc(100vh - 142px);
    }

    @include mq(small) {
      height: calc(100vh - 115px);
    }
  }

  &__list {
    @include container-medium;

    max-width: 1040px;
    padding-top: 85px;

    @include mq(xlarge) {
      padding-top: 18px;
    }

    @include mq(small) {
      padding-top: 15px;
    }
  }

  &__list-item {
    & + & {
      margin-top: 140px;

      @include mq(xlarge) {
        margin-top: 80px;
      }

      @include mq(small) {
        margin-top: 65px;
      }
    }
  }

  &__subtitle {
    font-weight: $f-weight-bold;
    font-size: 268px;
    line-height: 259px;
    text-transform: uppercase;
    color: $c-red;

    @include mq(xlarge) {
      font-size: 200px;
      line-height: 200px;
    }

    @include mq(small) {
      font-size: 100px;
      line-height: 100px;
    }

    & + * {
      margin-top: -120px;

      @include mq(xlarge) {
        margin-top: -105px;
      }

      @include mq(small) {
        // margin-top: -55px;
        margin-top: 0;
      }
    }
  }

  &__teaser {
    position: relative;
    display: block;
    padding: 50px 10px;
    transition: background-color 300ms ease-in-out;

    @include mq(xlarge) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include mq(small) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:hover,
    &.focus-visible {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 65px;
      height: 3px;
      background-color: $c-red;
      transform: translateX(-50%);
    }
  }

  &__teaser-title {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 10px;
    text-transform: initial;
    letter-spacing: initial;

    @include mq(xlarge) {
      font-size: 36px;
      line-height: 38px;
    }

    @include mq(small) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__teaser-text {
    font-weight: $f-weight-light;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;

    @include mq(xlarge) {
      font-size: 30px;
      line-height: 34px;
    }

    @include mq(small) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__teaser-tag {
    @include h4;
  }
}
