@mixin fontFace($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    src: url('#{$src}.woff') format('woff'),
      url('#{$src}.woff2') format('woff2');
    font-display: block;
  }
}

/* roboto-condensed-300 - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-300',
  normal,
  300
);

/* roboto-condensed-300italic - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-300italic',
  italic,
  300
);

/* roboto-condensed-regular - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-regular',
  normal,
  400
);

/* roboto-condensed-italic - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-italic',
  italic,
  400
);

/* roboto-condensed-700 - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-700',
  normal,
  700
);

/* roboto-condensed-700italic - latin */
@include fontFace(
  $f-family-roboto,
  '#{$path-font}roboto-condensed-v18-latin-700italic',
  italic,
  700
);
