@mixin font($family, $weight: normal, $size: inherit, $lineHeight: 1) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  line-height: $lineHeight;
}

@mixin h1 {
  @include font($f-family, $f-weight-bold, 94px, 91px);

  text-transform: uppercase;

  @include mq(large) {
    font-size: 75px;
    line-height: 76px;
  }

  @include mq(small) {
    font-size: 45px;
    line-height: 46px;
    hyphens: auto;
  }
}

@mixin h2 {
  @include font($f-family, $f-weight-bold, 75px, 75px);

  letter-spacing: 8px;
  text-transform: uppercase;

  @include mq(large) {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 5px;
  }

  @include mq(small) {
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 3px;
  }
}

@mixin h3 {
  @include font($f-family, $f-weight-bold, 40px, 45px);

  @include mq(large) {
    font-size: 30px;
    line-height: 35px;
  }

  @include mq(small) {
    font-size: 24px;
    line-height: 25px;
  }
}
