$f-size: 18px;
$f-size-mobile: 16px;

$f-family-roboto: 'Roboto Condensed';
$f-family: 'Roboto Condensed', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$f-weight-light: 300;
$f-weight-regular: 400;
$f-weight-bold: 700;
