// Breakpoints
$plyr-bp-sm: 480px;
$plyr-bp-md: 768px;
$plyr-bp-lg: 1024px;

// Colors
$plyr-color-main: #1aafff;
$plyr-color-gunmetal: #2f343d;
$plyr-color-fiord: #4f5b5f;
$plyr-color-lynch: #6b7d85;
$plyr-color-heather: #b7c5cd;

// Cosmetics
$plyr-tab-focus-default-color: $plyr-color-main;

// Typography
$plyr-font-family: inherit;
$plyr-font-size-base: 16px;
$plyr-font-size-small: 14px;
$plyr-font-size-large: 18px;
$plyr-font-size-xlarge: 21px;
$plyr-font-size-time: 20px; // $plyr-font-size-small;
$plyr-font-size-badge: 9px;
$plyr-font-size-menu: $plyr-font-size-small;
$plyr-font-weight-regular: 500;
$plyr-font-weight-bold: 600;
$plyr-line-height: 1.7;
$plyr-font-smoothing: true;

// Badges
$plyr-badge-bg: $plyr-color-fiord;
$plyr-badge-color: #fff;

// Captions
$plyr-captions-bg: rgba(#000, 0.8);
$plyr-captions-color: #fff;
$plyr-font-size-captions-base: $plyr-font-size-base;
$plyr-font-size-captions-small: $plyr-font-size-small;
$plyr-font-size-captions-medium: $plyr-font-size-large;
$plyr-font-size-captions-large: $plyr-font-size-xlarge;

// Controls
$plyr-control-icon-size: 24px;
$plyr-control-spacing: 10px;
$plyr-control-padding: ($plyr-control-spacing * 0.7);
$plyr-control-radius: 3px;
$plyr-video-controls-bg: #000;
$plyr-video-control-color: #fff;
$plyr-video-control-color-hover: #fff;
$plyr-video-control-bg-hover: $plyr-color-main;
$plyr-audio-controls-bg: #fff;
$plyr-audio-control-color: $plyr-color-fiord;
$plyr-audio-control-color-hover: #fff;

// Menus
$plyr-menu-bg: rgba(#fff, 0.9);
$plyr-menu-color: $plyr-color-fiord;
$plyr-menu-arrow-size: 6px;
$plyr-menu-border-color: $plyr-color-heather;
$plyr-menu-border-shadow-color: #fff;
$plyr-menu-shadow: 0 1px 2px rgba(#000, 0.15);

// Progress Loading
$plyr-progress-loading-size: 25px;
$plyr-progress-loading-bg: rgba($plyr-color-gunmetal, 0.6);

// Progress Buffered
$plyr-video-progress-buffered-bg: rgba(#fff, 0.25);
$plyr-audio-progress-buffered-bg: rgba($plyr-color-heather, 0.66);

// Sliders Active state
$plyr-range-thumb-active-shadow-width: 3px;

// Sliders Thumb
$plyr-range-thumb-height: 14px;
$plyr-range-thumb-bg: #fff;
$plyr-range-thumb-border: 2px solid transparent;
$plyr-range-thumb-shadow: 0 1px 1px rgba(#000, 0.15),
  0 0 0 1px rgba($plyr-color-gunmetal, 0.2);

// Sliders Track
$plyr-range-track-height: 6px;
$plyr-range-max-height: ($plyr-range-thumb-active-shadow-width * 2) +
  $plyr-range-thumb-height;

// Sliders Fill
$plyr-range-fill-bg: $plyr-color-main;

// Sliders type specific
$plyr-video-range-track-bg: $plyr-video-progress-buffered-bg;
$plyr-audio-range-track-bg: $plyr-audio-progress-buffered-bg;
$plyr-audio-range-thumb-shadow-color: rgba(#000, 0.1);

// Tooltips
$plyr-tooltip-bg: rgba(#fff, 0.9);
$plyr-tooltip-color: $plyr-color-fiord;
$plyr-tooltip-padding: ($plyr-control-spacing / 2);
$plyr-tooltip-arrow-size: 4px;
$plyr-tooltip-radius: 3px;
$plyr-tooltip-shadow: 0 1px 2px rgba(#000, 0.15);
