@import './plyr-settings';
@import '../../node_modules/plyr/src/sass/plyr.scss';
@import '../../styles/base/icons';
@import '../../styles/generic/variables/colors';
@import '../../styles/generic/variables/breakpoints';
@import '../../styles/generic/mixins/media-query';

// video & audio stylings
.plyr--video,
.plyr--audio {
  input[type='range'] {
    color: $c-white;
  }

  .plyr__progress__buffer {
    color: rgba(255, 255, 255, 0.3);
    border-radius: 0;
  }
}

// video
.plyr--video {
  &.plyr--stopped,
  &.plyr--ended {
    .plyr__controls {
      display: none;
    }
  }

  .plyr__control.plyr__tab-focus,
  .plyr__control:hover,
  .plyr__control[aria-expanded='true'] {
    color: white;
    background: black;
  }

  .plyr__controls {
    padding: 8px 13px;
    background: black;
  }

  .plyr__control--overlaid {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:hover,
    &.focus-visible {
      background: none;

      &:before {
        color: $c-red;
      }
    }

    &:before {
      @include icon;

      content: map-get($icons, 'play');
      display: block;
      font-size: 99px;

      @include mq(small) {
        font-size: 60px;
      }
    }

    svg {
      display: none;
    }
  }
}
