@mixin reset-btn {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

@mixin button {
  @include reset-btn;

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 18px 85px 18px 85px;
  overflow: hidden;
  font-size: 16px;
  line-height: 19px;
  color: $c-white;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $c-white;
  border-radius: 50px;

  &:visited {
    color: $c-white;
  }

  &:hover,
  &.focus-visible {
    border-color: $c-red;

    &:after {
      transform: translateY(10%) translateX(-90px) rotate(-45deg);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 500%;
    height: 1000%;
    background-color: $c-red;
    transform: translateX(20%) translateY(10%) rotate(-45deg);
    transform-origin: 0% 0%;
    transition: transform 500ms;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.button {
  @include button;

  &--small {
    padding-right: 35px;
    padding-left: 35px;
  }

  &--inverted {
    border-color: $c-red;
    background-color: $c-red;

    &:hover,
    &.focus-visible {
      color: $c-red;
      border-color: $c-white;
    }

    &:after {
      background-color: $c-white;
    }
  }
}

.button--round {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid $c-white;
  border-radius: 50%;

  @include mq(xsmall) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &.focus-visible {
    border-color: $c-red;

    &:after {
      transform: scale(1);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $c-red;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 150ms ease-in-out;
  }
}

.menu-button {
  $menuBtnRoot: &;
  @include reset-btn;

  display: flex;
  align-items: center;

  &:hover,
  &.focus-visible {
    #{$menuBtnRoot}__icon-bar {
      background-color: $c-red;
    }
  }

  &.is-active {
    #{$menuBtnRoot}__icon-bar {
      &:nth-child(1) {
        top: -3px;
        left: 8px;
        transform: rotate(45deg);

        @include mq(medium) {
          top: -2px;
          left: 5px;
        }
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        top: 39px;
        left: 8px;
        transform: rotate(-45deg);

        @include mq(medium) {
          top: 26px;
          left: 5px;
        }
      }
    }
  }

  &__icon {
    position: relative;
    width: 60px;
    height: 33px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    @include mq(medium) {
      width: 40px;
      height: 22px;
    }
  }

  &__icon-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: $c-white;
    transform: rotate(0deg);
    opacity: 1;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 15px;
      transform-origin: left center;

      @include mq(medium) {
        top: 10px;
      }
    }

    &:nth-child(3) {
      top: 30px;
      transform-origin: left center;

      @include mq(medium) {
        top: 20px;
      }
    }
  }
}

.lightbox-button {
  @include reset-btn;

  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &:hover,
  &.focus-visible {
    &:before {
      top: 50%;
      opacity: 1;
    }

    &:after {
      opacity: 0.8;
    }
  }

  &:before {
    @include icon;

    content: map-get($icons, 'plus');
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 2;
    color: $c-white;
    font-size: 50px;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: top 200ms linear, opacity 200ms linear;

    @include mq(large) {
      font-size: 35px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $c-black;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
  }
}
