@mixin reset-btn {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

@mixin button {
  @include reset-btn;

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 18px 85px 18px 85px;
  overflow: hidden;
  font-size: 16px;
  line-height: 19px;
  color: $c-white;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $c-white;
  border-radius: 50px;

  &:visited {
    color: $c-white;
  }

  &:hover,
  &:focus {
    border-color: $c-red;

    &:after {
      transform: translateY(10%) translateX(-90px) rotate(-45deg);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 500%;
    height: 1000%;
    background-color: $c-red;
    transform: translateX(20%) translateY(10%) rotate(-45deg);
    transform-origin: 0% 0%;
    transition: transform 500ms;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.button {
  @include button;

  &--small {
    padding-right: 35px;
    padding-left: 35px;
  }

  &--inverted {
    border-color: $c-red;
    background-color: $c-red;

    &:hover,
    &:focus {
      color: $c-red;
      border-color: $c-white;
    }

    &:after {
      background-color: $c-white;
    }
  }
}

.button--round {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid $c-white;
  border-radius: 50%;

  @include mq(xsmall) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    border-color: $c-red;

    &:after {
      transform: scale(1);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $c-red;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 150ms ease-in-out;
  }
}
