h1,
.is-h1,
h2,
.is-h2,
h3,
.is-h3,
h4,
.is-h4,
h5,
.is-h5 {
  &:first-child {
    margin-top: 0;
  }
}

h1,
.is-h1 {
  @include h1;
}

h2,
.is-h2 {
  @include h2;
}

h3,
.is-h3 {
  @include h3;
}

h4,
.is-h4 {
  @include h4;
}

.section-heading {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: -1;
  text-align: left;
  font-weight: $f-weight-bold;
  font-size: calc(20vw - 25px);
  line-height: 18vw;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: black;
  mix-blend-mode: normal;
  opacity: 0.13;
  transform: translateY(-80%);

  @include mq(xsmall) {
    font-size: calc(24vw - 25px);
    line-height: 18vw;
    letter-spacing: 6px;
  }
}
