// Icons
@mixin icon {
  font: {
    family: 'icomoon';
    style: normal;
    weight: normal;
    variant: normal;
  }

  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-weight: normal;
  font-family: 'icomoon';
  font-style: normal;
  src: url('#{$path-icon}icomoon.eot');
  src: url('#{$path-icon}icomoon.eot') format('embedded-opentype'),
    url('#{$path-icon}icomoon.woff2') format('woff2'),
    url('#{$path-icon}icomoon.ttf') format('truetype'),
    url('#{$path-icon}icomoon.woff') format('woff'),
    url('#{$path-icon}icomoon.svg') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-weight: normal;

  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  quote: '\e903',
  cross: '\e904',
  arrow-left: '\e905',
  arrow-right: '\e906',
  arrow-down: '\e909',
  plus: '\e907',
  play: '\e908',
  facebook: '\e900',
  instagram: '\e901',
  youtube: '\e902',
);

@each $name, $glyph in $icons {
  .icon-#{$name}:before {
    content: $glyph;
  }
}
